{{#class}}
{{#classes}}
Message Name       : {{name}}
Message Id         : {{id}}
Message DocName    : {{docName}}
Message DocComment : {{docComment}}

<table>
  <tr>
    <th>Field Id</th>
    <th>Field Type</th>
    <th>Field Mandatory</th>
    <th>Field DocName</th>
    <th>Field DocComment</th>
  </tr>
  <tr>
    <td>{{id}}</td>
    <td>{{type}}</td>
    <td>{{mandatory}}</td>
    <td>{{docName}}</td>
    <td>{{docComment}}</td>
  </tr>
</table> 
<br/>
{{/classes}}
{{/class}}